<footer
  style="font-size:6px;width:100%; background:green;height:150px;flex-direction:column; display:flex; align-items:center"
>
  <img src={{this.data.logo}} style="height:80px;width:80px" />
  <h1>Endereço</h1>
  <h1>{{this.data.address}}</h1>
  <h1>{{this.data.adress_partner}}</h1>
</footer>