<style>
  html,body,div{-webkit-print-color-adjust: exact} span.logo { height: 80px;
  width:200px; content: url("${logo}")}
</style>
<header
  style="font-size:14px;width:100%; background:#d3540b;height:95px; display:flex; align-items:center"
>
  <span class="logo"></span>
  <h1>{{this.data.info1}}</h1>
  <h1>{{this.data.info2}}</h1>
</header>