<style>
  html,body,div{-webkit-print-color-adjust: exact}
</style>
<header
  style="font-size:8px;width:100%; background:#d3540b;height:95px; justify-content:center; display:flex; align-items:center"
>
  <img src={{this.data.logo}} style="height:80px;width:80px" />
  <div>
    <h1>{{this.data.company_name}}</h1>
    <h1>{{this.data.company_id}}</h1>
    <h1>BATCH:{{this.data.batch}}</h1>
  </div>
</header>